In [1]:
import pandas as pd

## 1. Coleta do nome e a sede de todos os times que disputaram o Campeonato Paulista em 2022

### Paulistão

In [2]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Paulista_de_Futebol_de_2022')

In [3]:
a1 = tables[4].drop(['Em 2021', 'Estádio', 'Material Esportivo', 'Títulos'], axis=1)
a1.head()

        Equipe          Cidade
0   Água Santa         Diadema
1  Botafogo-SP  Ribeirão Preto
2  Corinthians       São Paulo
3  Ferroviária      Araraquara
4      Guarani        Campinas

In [4]:
a1.shape

(16, 2)

### A2

In [5]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Paulista_de_Futebol_de_2022_-_S%C3%A9rie_A2')

In [6]:
a2 = tables[4].drop(['Em 2021', 'Estádio', 'Capacidade', 'Títulos'], axis=1)
a2.head()

                          Equipe               Cidade
0            Grêmio Osasco Audax               Osasco
1        Clube Atlético Juventus            São Paulo
2  Lemense Futebol Clube[nota 1]                 Leme
3         Clube Atlético Linense                 Lins
4            Atlético Monte Azul  Monte Azul Paulista

In [7]:
# Ajuste no nome do time
a2.iloc[2]['Equipe'] = 'Lemense Futebol Clube'

In [8]:
a2.shape

(16, 2)

### A3

In [9]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Paulista_de_Futebol_de_2022_-_S%C3%A9rie_A3')

In [10]:
a3 = tables[3].drop(['Em 2021', 'Estádio', 'Capacidade', 'Participações', 'Títulos'], axis=1)
a3.head()

              Equipe          Cidade
0        Bandeirante         Birigui
1           Barretos        Barretos
2        Capivariano        Capivari
3          Comercial  Ribeirão Preto
4  Desportivo Brasil     Porto Feliz

In [11]:
a3.shape

(16, 2)

### Segunda Divisão

In [12]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Paulista_de_Futebol_de_2022_-_Segunda_Divis%C3%A3o')

In [13]:
sd = tables[3].drop(['Última participação'], axis=1)
sd.head()

                  Clube                 Cidade
0  América de Rio Preto  São José do Rio Preto
1                Amparo                 Amparo
2             Andradina              Andradina
3             Assisense                  Assis
4         Atlético Mogi        Mogi das Cruzes

In [14]:
# Ajuste no nome da coluna
sd.rename(columns={'Clube': 'Equipe'}, inplace=True)

In [15]:
# Adicionar a divisão de cada time
a1['Série Atual'] = 'A1'
a2['Série Atual'] = 'A2'
a3['Série Atual'] = 'A3'
sd['Série Atual'] = 'Segunda Divisão'

In [16]:
# Agrupando todos os times que jogaram uma das quatro divisões estaduais em 2022
paulista = pd.concat([a1, a2, a3, sd])
paulista.shape

(84, 3)

## 2. Coleta do PIB, IDH e número de habitantes dos munícipios paulistas

### PIB

In [17]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_S%C3%A3o_Paulo_por_PIB')

In [18]:
pib_sp = tables[1]
pib_sp.rename(columns={'Unnamed: 0': 'Pos', 'PIB (2018)em milhões': 'PIB', 'Município': 'Cidade'}, inplace=True)
pib_sp.head()

  Pos                 Cidade             PIB
0  1º              São Paulo  R$ 714.683,362
1  2º                 Osasco   R$ 76.609,046
2  3º               Campinas   R$ 61.397,263
3  4º              Guarulhos   R$ 61.325,724
4  5º  São Bernardo do Campo   R$ 50.568,693

### IDH

In [19]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_S%C3%A3o_Paulo_por_IDH-M')

In [20]:
idh_sp = tables[1]
idh_sp.columns = ['Pos', 'Cidade', 'IDH', 'IDH-renda', 'IDH-longevidade', 'IDH-educação']
idh_sp.head()

  Pos              Cidade   IDH IDH-renda IDH-longevidade IDH-educação
0  1º  São Caetano do Sul  0862      0891            0887         0811
1  2º  Águas de São Pedro  0854      0849            0890         0825
2  3º              Santos  0840      0861            0852         0807
3  4º             Jundiaí  0822      0834            0866         0768
4  5º            Valinhos  0819      0848            0850         0763

### Número de habitantes

In [21]:
tables = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_S%C3%A3o_Paulo_por_popula%C3%A7%C3%A3o_(2010)')

In [22]:
pop_sp = tables[1].rename(columns={'Unnamed: 0': 'Pos', 'Nome': 'Cidade', 'Pop. Mun.': 'População'})

# Removendo distritos, vilas, etc
pop_sp = pop_sp.dropna(subset=['População'])

pop_sp.drop(['Pop. Distr.', 'Pop. Urb.', 'Categoria'], axis=1, inplace=True)
pop_sp.head()

    Pos                 Cidade   População
0    1º              São Paulo  11253503.0
97   2º              Guarulhos   1221979.0
99   3º               Campinas   1080113.0
104  4º  São Bernardo do Campo    765463.0
106  5º            Santo André    676407.0

## 3. Concatenando times e dados dos munícipios

### Times x PIB

In [23]:
time_pib = paulista.merge(pib_sp, on='Cidade')
time_pib.head()

        Equipe          Cidade Série Atual  Pos             PIB
0   Água Santa         Diadema          A1  21º   R$ 14.671,971
1  Botafogo-SP  Ribeirão Preto          A1  10º   R$ 34.327,544
2    Comercial  Ribeirão Preto          A3  10º   R$ 34.327,544
3  Corinthians       São Paulo          A1   1º  R$ 714.683,362
4    Palmeiras       São Paulo          A1   1º  R$ 714.683,362

In [24]:
# Função auxiliar para converter o campo PIB de string para decimal
def monetaryValue(x):
    x = x.replace('R$ ', '')
    x = x.replace('.', '')
    x = x.replace(',', '.')
    return float(x)

In [25]:
time_pib['PIB'] = time_pib['PIB'].apply(monetaryValue)
time_pib.head()

        Equipe          Cidade Série Atual  Pos         PIB
0   Água Santa         Diadema          A1  21º   14671.971
1  Botafogo-SP  Ribeirão Preto          A1  10º   34327.544
2    Comercial  Ribeirão Preto          A3  10º   34327.544
3  Corinthians       São Paulo          A1   1º  714683.362
4    Palmeiras       São Paulo          A1   1º  714683.362

### Times x IDH

In [26]:
time_idh = paulista.merge(idh_sp, on='Cidade')
time_idh.head()

,Equipe,Cidade,Série Atual,Pos,IDH,IDH-renda,IDH-longevidade,IDH-educação
0,Água Santa,Diadema,A1,182º,0757,0717,0844,0716
1,Botafogo-SP,Ribeirão Preto,A1,22º,0800,0820,0844,0739
2,Comercial,Ribeirão Preto,A3,22º,0800,0820,0844,0739
3,Corinthians,São Paulo,A1,15º,0805,0843,0855,0725
4,Palmeiras,São Paulo,A1,15º,0805,0843,0855,0725

### Times x População

In [27]:
time_pop = paulista.merge(pop_sp, on='Cidade')
time_pop.head()

        Equipe          Cidade Série Atual  Pos   População
0   Água Santa         Diadema          A1  14º    386089.0
1  Botafogo-SP  Ribeirão Preto          A1   8º    604682.0
2    Comercial  Ribeirão Preto          A3   8º    604682.0
3  Corinthians       São Paulo          A1   1º  11253503.0
4    Palmeiras       São Paulo          A1   1º  11253503.0

# O Campeonato Paulista teria as seguintes divisões se...

## ...os times fossem divididos pelo PIB de suas sedes

### Paulistão (por PIB)

In [28]:
a1_pib = time_pib.sort_values(['PIB', 'Série Atual', 'Equipe'], ascending=[False, True, True])[:16]
a1_pib

,Equipe,Cidade,Série Atual,Pos,PIB
3,Corinthians,São Paulo,A1,1º,714683.362
4,Palmeiras,São Paulo,A1,1º,714683.362
5,São Paulo,São Paulo,A1,1º,714683.362
7,Associação Portuguesa de Desportos,São Paulo,A2,1º,714683.362
6,Clube Atlético Juventus,São Paulo,A2,1º,714683.362
8,Nacional-SP,São Paulo,A3,1º,714683.362
25,Grêmio Osasco Audax,Osasco,A2,2º,76609.046
10,Guarani,Campinas,A1,3º,61397.263
11,Ponte Preta,Campinas,A1,3º,61397.263
63,Flamengo de Guarulhos,Guarulhos,Segunda Divisão,4º,61325.724
64,Guarulhos,Guarulhos,Segunda Divisão,4º,61325.724
23,São Bernardo,São Bernardo do Campo,A1,5º,50568.693
24,EC São Bernardo,São Bernardo do Campo,A3,5º,50568.693
29,Oeste Futebol Clube,Barueri,A2,6º,50566.644
74,Paulista,Jundiaí,Segunda Divisão,7º,43632.891
47,São José-SP,São José dos Campos,A3,8º,39697.501

NOTA 1: São José e Joseense estão na mesma cidade mas como critério de desempate foi considerada a divisão atual.

### Série A2 (por PIB)

In [29]:
a2_pib = time_pib.sort_values(['PIB', 'Série Atual', 'Equipe'], ascending=[False, True, True])[16:32]
a2_pib

,Equipe,Cidade,Série Atual,Pos,PIB
48,Joseense,São José dos Campos,Segunda Divisão,8º,39697.501
33,Esporte Clube São Bento,Sorocaba,A2,9º,35015.188
1,Botafogo-SP,Ribeirão Preto,A1,10º,34327.544
2,Comercial,Ribeirão Preto,A3,10º,34327.544
19,Santo André,Santo André,A1,12º,28994.686
36,Esporte Clube XV de Novembro,Piracicaba,A2,13º,26421.072
20,Santos,Santos,A1,14º,22476.976
21,Associação Atlética Portuguesa Santista,Santos,A2,14º,22476.976
22,Jabaquara,Santos,Segunda Divisão,14º,22476.976
45,Rio Preto,São José do Rio Preto,A3,15º,17542.485
46,América de Rio Preto,São José do Rio Preto,Segunda Divisão,15º,17542.485
35,Esporte Clube Taubaté,Taubaté,A2,16º,17267.226
30,Esporte Clube Primavera,Indaiatuba,A2,18º,15596.305
57,Atlético Mogi,Mogi das Cruzes,Segunda Divisão,19º,15386.499
58,União Mogi,Mogi das Cruzes,Segunda Divisão,19º,15386.499
72,Mauaense,Mauá,Segunda Divisão,20º,15287.483

NOTA 2: Mauá e Mauaense estão na mesma cidade e na mesma série atualmente, neste caso o critério utilizado foi ordem alfabética.

### Série A3 (por PIB)

In [30]:
a3_pib = time_pib.sort_values(['PIB', 'Série Atual', 'Equipe'], ascending=[False, True, True])[32:48]
a3_pib

,Equipe,Cidade,Série Atual,Pos,PIB
71,Mauá,Mauá,Segunda Divisão,20º,15287.483
0,Água Santa,Diadema,A1,21º,14671.971
43,Noroeste,Bauru,A3,22º,14642.061
34,Associação Desportiva São Caetano,São Caetano do Sul,A2,25º,13440.728
12,Inter de Limeira,Limeira,A1,27º,13192.025
13,Independente-SP,Limeira,Segunda Divisão,27º,13192.025
76,Rio Branco-SP,Americana,Segunda Divisão,34º,11332.408
78,São Carlos,São Carlos,Segunda Divisão,35º,11173.000
79,São-Carlense,São Carlos,Segunda Divisão,35º,11173.000
50,Suzano,Suzano,A3,36º,11147.866
51,ECUS,Suzano,Segunda Divisão,36º,11147.866
65,Francana,Franca,Segunda Divisão,38º,9992.981
32,Associação Esportiva Velo Clube Rioclarense,Rio Claro,A2,39º,9799.856
31,Rio Claro Futebol Clube,Rio Claro,A2,39º,9799.856
9,Ferroviária,Araraquara,A1,40º,9409.114
80,Ska Brasil,Santana de Parnaíba,Segunda Divisão,42º,9235.463

### Segunda Divisão (por PIB)

In [31]:
sd_pib = time_pib.sort_values(['PIB', 'Série Atual', 'Equipe'], ascending=[False, True, True])[48:]
sd_pib

,Equipe,Cidade,Série Atual,Pos,PIB
41,Marília,Marília,A3,46º,8082.306
66,Grêmio Prudente,Presidente Prudente,Segunda Divisão,47º,7994.539
14,Ituano,Itu,A1,48º,7831.498
17,Red Bull Bragantino,Bragança Paulista,A1,55º,6305.507
18,Red Bull Brasil,Bragança Paulista,A2,55º,6305.507
70,Manthiqueira,Guaratinguetá,Segunda Divisão,62º,5672.184
82,União São João,Araras,Segunda Divisão,63º,5565.138
49,Sertãozinho,Sertãozinho,A3,64º,5496.321
38,Barretos,Barretos,A3,66º,4859.369
83,XV de Jaú,Jaú,Segunda Divisão,68º,4733.100
53,Amparo,Amparo,Segunda Divisão,71º,4646.510
60,Catanduva,Catanduva,Segunda Divisão,75º,4195.221
42,Matonense,Matão,A3,76º,4153.989
68,Itapirense,Itapira,Segunda Divisão,79º,3905.552
27,Clube Atlético Linense,Lins,A2,80º,3785.366
61,Colorado Caieiras,Caieiras,Segunda Divisão,83º,3556.312
55,Assisense,Assis,Segunda Divisão,86º,3363.336
56,VOCEM,Assis,Segunda Divisão,86º,3363.336
67,Inter de Bebedouro,Bebedouro,Segunda Divisão,87º,3344.551
37,Bandeirante,Birigui,A3,88º,3336.570
26,Lemense Futebol Clube,Leme,A2,92º,3207.602
52,Votuporanguense,Votuporanga,A3,100º,2928.688
40,Desportivo Brasil,Porto Feliz,A3,108º,2599.839
39,Capivariano,Capivari,A3,120º,2059.704
44,Olímpia,Olímpia,A3,122º,2034.078
77,Santacruzense,Santa Cruz do Rio Pardo,Segunda Divisão,123º,2033.566
62,Fernandópolis,Fernandópolis,Segunda Divisão,124º,2006.104
54,Andradina,Andradina,Segunda Divisão,127º,1922.486
15,Mirassol,Mirassol,A1,134º,1810.223
75,Penapolense,Penápolis,Segunda Divisão,143º,1664.177
59,Batatais,Batatais,Segunda Divisão,147º,1590.068
81,Taquaritinga,Taquaritinga,Segunda Divisão,150º,1570.577
16,Novorizontino,Novo Horizonte,A1,188º,1094.927
69,Itararé,Itararé,Segunda Divisão,210º,878.884
73,Osvaldo Cruz,Osvaldo Cruz,Segunda Divisão,218º,849.329
28,Atlético Monte Azul,Monte Azul Paulista,A2,263º,534.034

## ...se os times fossem divididos pelo IDH de suas sedes

NOTA 3: Por haver muitas cidades com o mesmo IDH como critério de desempate foi utilizado o IDH renda, IDH longevidade e IDH educação respectivamente, persistindo o empate a série atual é utilizada.

### Paulistão (por IDH)

In [32]:
a1_idh = time_idh.sort_values(['IDH', 'IDH-renda', 'IDH-longevidade', 'IDH-educação', 'Série Atual', 'Equipe'],
                              ascending=[False, False, False, False, True, True])[:16]
a1_idh

,Equipe,Cidade,Série Atual,Pos,IDH,IDH-renda,IDH-longevidade,IDH-educação
34,Associação Desportiva São Caetano,São Caetano do Sul,A2,1º,0862,0891,0887,0811
20,Santos,Santos,A1,3º,0840,0861,0852,0807
21,Associação Atlética Portuguesa Santista,Santos,A2,3º,0840,0861,0852,0807
22,Jabaquara,Santos,Segunda Divisão,3º,0840,0861,0852,0807
74,Paulista,Jundiaí,Segunda Divisão,4º,0822,0834,0866,0768
19,Santo André,Santo André,A1,7º,0815,0819,0861,0769
9,Ferroviária,Araraquara,A1,7º,0815,0788,0877,0782
80,Ska Brasil,Santana de Parnaíba,Segunda Divisão,9º,0814,0876,0849,0725
76,Rio Branco-SP,Americana,Segunda Divisão,11º,0811,0800,0876,0760
47,São José-SP,São José dos Campos,A3,12º,0807,0804,0855,0764
48,Joseense,São José dos Campos,Segunda Divisão,12º,0807,0804,0855,0764
66,Grêmio Prudente,Presidente Prudente,Segunda Divisão,13º,0806,0788,0858,0774
3,Corinthians,São Paulo,A1,15º,0805,0843,0855,0725
4,Palmeiras,São Paulo,A1,15º,0805,0843,0855,0725
5,São Paulo,São Paulo,A1,15º,0805,0843,0855,0725
7,Associação Portuguesa de Desportos,São Paulo,A2,15º,0805,0843,0855,0725

### Série A2 (Por IDH)

In [33]:
a2_idh = time_idh.sort_values(['IDH', 'IDH-renda', 'IDH-longevidade', 'IDH-educação', 'Série Atual', 'Equipe'],
                              ascending=[False, False, False, False, True, True])[16:32]
a2_idh

,Equipe,Cidade,Série Atual,Pos,IDH,IDH-renda,IDH-longevidade,IDH-educação
6,Clube Atlético Juventus,São Paulo,A2,15º,0805,0843,0855,0725
8,Nacional-SP,São Paulo,A3,15º,0805,0843,0855,0725
10,Guarani,Campinas,A1,17º,0805,0829,0860,0731
11,Ponte Preta,Campinas,A1,17º,0805,0829,0860,0731
23,São Bernardo,São Bernardo do Campo,A1,14º,0805,0807,0861,0752
24,EC São Bernardo,São Bernardo do Campo,A3,14º,0805,0807,0861,0752
78,São Carlos,São Carlos,Segunda Divisão,18º,0805,0788,0863,0766
79,São-Carlense,São Carlos,Segunda Divisão,18º,0805,0788,0863,0766
55,Assisense,Assis,Segunda Divisão,16º,0805,0771,0865,0781
56,VOCEM,Assis,Segunda Divisão,16º,0805,0771,0865,0781
32,Associação Esportiva Velo Clube Rioclarense,Rio Claro,A2,19º,0803,0784,0862,0766
31,Rio Claro Futebol Clube,Rio Claro,A2,19º,0803,0784,0862,0766
43,Noroeste,Bauru,A3,20º,0801,0800,0854,0752
1,Botafogo-SP,Ribeirão Preto,A1,22º,0800,0820,0844,0739
2,Comercial,Ribeirão Preto,A3,22º,0800,0820,0844,0739
35,Esporte Clube Taubaté,Taubaté,A2,22º,0800,0778,0883,0746

### Série A3 (por IDH)

In [34]:
a3_idh = time_idh.sort_values(['IDH', 'IDH-renda', 'IDH-longevidade', 'IDH-educação', 'Série Atual', 'Equipe'],
                              ascending=[False, False, False, False, True, True])[32:48]
a3_idh

,Equipe,Cidade,Série Atual,Pos,IDH,IDH-renda,IDH-longevidade,IDH-educação
33,Esporte Clube São Bento,Sorocaba,A2,25º,0798,0792,0843,0762
41,Marília,Marília,A3,25º,0798,0768,0854,0776
70,Manthiqueira,Guaratinguetá,Segunda Divisão,25º,0798,0764,0886,0751
45,Rio Preto,São José do Rio Preto,A3,28º,0797,0801,0846,0748
46,América de Rio Preto,São José do Rio Preto,Segunda Divisão,28º,0797,0801,0846,0748
62,Fernandópolis,Fernandópolis,Segunda Divisão,28º,0797,0767,0872,0758
52,Votuporanguense,Votuporanga,A3,35º,0790,0772,0857,0744
38,Barretos,Barretos,A3,38º,0789,0762,0875,0738
30,Esporte Clube Primavera,Indaiatuba,A2,40º,0788,0791,0837,0738
29,Oeste Futebol Clube,Barueri,A2,47º,0786,0791,0866,0708
27,Clube Atlético Linense,Lins,A2,47º,0786,0762,0869,0733
36,Esporte Clube XV de Novembro,Piracicaba,A2,50º,0785,0797,0848,0717
53,Amparo,Amparo,Segunda Divisão,50º,0785,0780,0871,0711
60,Catanduva,Catanduva,Segunda Divisão,50º,0785,0767,0853,0740
57,Atlético Mogi,Mogi das Cruzes,Segunda Divisão,60º,0783,0762,0851,0740
58,União Mogi,Mogi das Cruzes,Segunda Divisão,60º,0783,0762,0851,0740

### Segunda Divisão (por IDH)

In [35]:
sd_idh = time_idh.sort_values(['IDH', 'IDH-renda', 'IDH-longevidade', 'IDH-educação', 'Série Atual', 'Equipe'],
                              ascending=[False, False, False, False, True, True])[48:]
sd_idh

,Equipe,Cidade,Série Atual,Pos,IDH,IDH-renda,IDH-longevidade,IDH-educação
82,União São João,Araras,Segunda Divisão,62º,0781,0763,0859,0728
61,Colorado Caieiras,Caieiras,Segunda Divisão,62º,0781,0740,0861,0749
67,Inter de Bebedouro,Bebedouro,Segunda Divisão,66º,0780,0756,0853,0735
65,Francana,Franca,Segunda Divisão,66º,0780,0749,0842,0753
37,Bandeirante,Birigui,A3,66º,0780,0743,0869,0734
54,Andradina,Andradina,Segunda Divisão,73º,0779,0762,0885,0702
83,XV de Jaú,Jaú,Segunda Divisão,75º,0778,0768,0886,0693
25,Grêmio Osasco Audax,Osasco,A2,83º,0776,0776,0840,0718
17,Red Bull Bragantino,Bragança Paulista,A1,83º,0776,0772,0861,0704
18,Red Bull Brasil,Bragança Paulista,A2,83º,0776,0772,0861,0704
12,Inter de Limeira,Limeira,A1,90º,0775,0761,0852,0719
13,Independente-SP,Limeira,Segunda Divisão,90º,0775,0761,0852,0719
14,Ituano,Itu,A1,96º,0773,0782,0854,0692
42,Matonense,Matão,A3,96º,0773,0766,0847,0713
44,Olímpia,Olímpia,A3,96º,0773,0737,0867,0736
72,Mauaense,Mauá,Segunda Divisão,131º,0766,0721,0852,0733
71,Mauá,Mauá,Segunda Divisão,131º,0766,0721,0852,0733
50,Suzano,Suzano,A3,138º,0765,0708,0873,0723
51,ECUS,Suzano,Segunda Divisão,138º,0765,0708,0873,0723
63,Flamengo de Guarulhos,Guarulhos,Segunda Divisão,145º,0763,0746,0831,0717
64,Guarulhos,Guarulhos,Segunda Divisão,145º,0763,0746,0831,0717
68,Itapirense,Itapira,Segunda Divisão,151º,0762,0750,0852,0692
15,Mirassol,Mirassol,A1,151º,0762,0748,0846,0698
77,Santacruzense,Santa Cruz do Rio Pardo,Segunda Divisão,151º,0762,0744,0867,0686
73,Osvaldo Cruz,Osvaldo Cruz,Segunda Divisão,151º,0762,0740,0837,0713
49,Sertãozinho,Sertãozinho,A3,160º,0761,0768,0855,0672
59,Batatais,Batatais,Segunda Divisão,160º,0761,0766,0840,0685
75,Penapolense,Penápolis,Segunda Divisão,169º,0759,0748,0859,0680
40,Desportivo Brasil,Porto Feliz,A3,177º,0758,0737,0836,0706
0,Água Santa,Diadema,A1,182º,0757,0717,0844,0716
16,Novorizontino,Novo Horizonte,A1,207º,0753,0741,0865,0665
28,Atlético Monte Azul,Monte Azul Paulista,A2,207º,0753,0733,0843,0690
39,Capivariano,Capivari,A3,232º,0750,0744,0848,0669
81,Taquaritinga,Taquaritinga,Segunda Divisão,248º,0748,0727,0827,0696
26,Lemense Futebol Clube,Leme,A2,274º,0744,0729,0851,0665
69,Itararé,Itararé,Segunda Divisão,565º,0703,0668,0803,0649

## ...se os times fossem divididos pelo número de habitantes de suas sedes

### Paulistão (por população)

In [36]:
a1_pop = time_pop.sort_values(['População', 'Série Atual', 'Equipe'], ascending=[False, True, True])[:16]
a1_pop

,Equipe,Cidade,Série Atual,Pos,População
3,Corinthians,São Paulo,A1,1º,11253503.0
4,Palmeiras,São Paulo,A1,1º,11253503.0
5,São Paulo,São Paulo,A1,1º,11253503.0
7,Associação Portuguesa de Desportos,São Paulo,A2,1º,11253503.0
6,Clube Atlético Juventus,São Paulo,A2,1º,11253503.0
8,Nacional-SP,São Paulo,A3,1º,11253503.0
62,Flamengo de Guarulhos,Guarulhos,Segunda Divisão,2º,1221979.0
63,Guarulhos,Guarulhos,Segunda Divisão,2º,1221979.0
10,Guarani,Campinas,A1,3º,1080113.0
11,Ponte Preta,Campinas,A1,3º,1080113.0
23,São Bernardo,São Bernardo do Campo,A1,4º,765463.0
24,EC São Bernardo,São Bernardo do Campo,A3,4º,765463.0
19,Santo André,Santo André,A1,5º,676407.0
25,Grêmio Osasco Audax,Osasco,A2,6º,666740.0
46,São José-SP,São José dos Campos,A3,7º,629921.0
47,Joseense,São José dos Campos,Segunda Divisão,7º,629921.0

### A2 (por população)

In [37]:
a2_pop = time_pop.sort_values(['População', 'Série Atual', 'Equipe'], ascending=[False, True, True])[16:32]
a2_pop

,Equipe,Cidade,Série Atual,Pos,População
1,Botafogo-SP,Ribeirão Preto,A1,8º,604682.0
2,Comercial,Ribeirão Preto,A3,8º,604682.0
33,Esporte Clube São Bento,Sorocaba,A2,9º,586625.0
20,Santos,Santos,A1,10º,419400.0
21,Associação Atlética Portuguesa Santista,Santos,A2,10º,419400.0
22,Jabaquara,Santos,Segunda Divisão,10º,419400.0
71,Mauaense,Mauá,Segunda Divisão,11º,417064.0
70,Mauá,Mauá,Segunda Divisão,11º,417064.0
44,Rio Preto,São José do Rio Preto,A3,12º,408258.0
45,América de Rio Preto,São José do Rio Preto,Segunda Divisão,12º,408258.0
56,Atlético Mogi,Mogi das Cruzes,Segunda Divisão,13º,387779.0
57,União Mogi,Mogi das Cruzes,Segunda Divisão,13º,387779.0
0,Água Santa,Diadema,A1,14º,386089.0
73,Paulista,Jundiaí,Segunda Divisão,15º,370126.0
36,Esporte Clube XV de Novembro,Piracicaba,A2,17º,364571.0
64,Francana,Franca,Segunda Divisão,21º,318640.0

### A3 (por população)

In [38]:
a3_pop = time_pop.sort_values(['População', 'Série Atual', 'Equipe'], ascending=[False, True, True])[32:48]
a3_pop

,Equipe,Cidade,Série Atual,Pos,População
35,Esporte Clube Taubaté,Taubaté,A2,23º,278686.0
12,Inter de Limeira,Limeira,A1,24º,276022.0
13,Independente-SP,Limeira,Segunda Divisão,24º,276022.0
49,Suzano,Suzano,A3,25º,262480.0
50,ECUS,Suzano,Segunda Divisão,25º,262480.0
29,Oeste Futebol Clube,Barueri,A2,29º,240749.0
77,São Carlos,São Carlos,Segunda Divisão,31º,221950.0
78,São-Carlense,São Carlos,Segunda Divisão,31º,221950.0
41,Marília,Marília,A3,32º,216745.0
75,Rio Branco-SP,Americana,Segunda Divisão,34º,210638.0
9,Ferroviária,Araraquara,A1,35º,208662.0
65,Grêmio Prudente,Presidente Prudente,Segunda Divisão,36º,207610.0
30,Esporte Clube Primavera,Indaiatuba,A2,37º,201619.0
32,Associação Esportiva Velo Clube Rioclarense,Rio Claro,A2,41º,186253.0
31,Rio Claro Futebol Clube,Rio Claro,A2,41º,186253.0
14,Ituano,Itu,A1,46º,154147.0

### Segunda Divisão (por população)

In [39]:
sd_pop = time_pop.sort_values(['População', 'Série Atual', 'Equipe'], ascending=[False, True, True])[48:]
sd_pop

,Equipe,Cidade,Série Atual,Pos,População
34,Associação Desportiva São Caetano,São Caetano do Sul,A2,48º,149263.0
17,Red Bull Bragantino,Bragança Paulista,A1,50º,146744.0
18,Red Bull Brasil,Bragança Paulista,A2,50º,146744.0
82,XV de Jaú,Jaú,Segunda Divisão,54º,131040.0
81,União São João,Araras,Segunda Divisão,57º,118843.0
59,Catanduva,Catanduva,Segunda Divisão,60º,112820.0
38,Barretos,Barretos,A3,61º,112101.0
69,Manthiqueira,Guaratinguetá,Segunda Divisão,62º,112072.0
48,Sertãozinho,Sertãozinho,A3,63º,110074.0
79,Ska Brasil,Santana de Parnaíba,Segunda Divisão,64º,108813.0
37,Bandeirante,Birigui,A3,66º,108728.0
54,Assisense,Assis,Segunda Divisão,76º,95144.0
55,VOCEM,Assis,Segunda Divisão,76º,95144.0
26,Lemense Futebol Clube,Leme,A2,77º,91756.0
60,Colorado Caieiras,Caieiras,Segunda Divisão,80º,86529.0
51,Votuporanguense,Votuporanga,A3,83º,84692.0
42,Matonense,Matão,A3,92º,76786.0
66,Inter de Bebedouro,Bebedouro,Segunda Divisão,93º,75035.0
27,Clube Atlético Linense,Lins,A2,98º,71432.0
67,Itapirense,Itapira,Segunda Divisão,101º,68537.0
52,Amparo,Amparo,Segunda Divisão,103º,65829.0
61,Fernandópolis,Fernandópolis,Segunda Divisão,104º,64696.0
74,Penapolense,Penápolis,Segunda Divisão,112º,58510.0
58,Batatais,Batatais,Segunda Divisão,113º,56476.0
53,Andradina,Andradina,Segunda Divisão,114º,55334.0
80,Taquaritinga,Taquaritinga,Segunda Divisão,116º,53988.0
15,Mirassol,Mirassol,A1,117º,53792.0
43,Olímpia,Olímpia,A3,124º,50024.0
40,Desportivo Brasil,Porto Feliz,A3,126º,48893.0
39,Capivariano,Capivari,A3,127º,48576.0
68,Itararé,Itararé,Segunda Divisão,129º,47934.0
76,Santacruzense,Santa Cruz do Rio Pardo,Segunda Divisão,141º,43921.0
16,Novorizontino,Novo Horizonte,A1,168º,36593.0
72,Osvaldo Cruz,Osvaldo Cruz,Segunda Divisão,184º,30917.0
28,Atlético Monte Azul,Monte Azul Paulista,A2,253º,18931.0

## Salvando as tabelas utilizadas

In [40]:
paulista.to_csv('data/campeonato_paulista_2022.csv', index=False)
pib_sp.to_csv('data/pib_sp.csv', index=False)
idh_sp.to_csv('data/idh_sp.csv', index=False)
pop_sp.to_csv('data/pop_sp.csv', index=False)